<p id="notice"><%= notice %></p>

<h1>Clips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Quote</th>
      <th>Commentary</th>
      <th>Link</th>
      <th>Link date</th>
      <th>Pub date</th>
      <th>Source name</th>
      <th>Source url</th>
      <th>Fetch response</th>
      <th>Fetch date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.title %></td>
        <td><%= clip.description %></td>
        <td><%= clip.quote %></td>
        <td><%= clip.commentary %></td>
        <td><%= clip.link %></td>
        <td><%= clip.link_date %></td>
        <td><%= clip.pub_date %></td>
        <td><%= clip.source_name %></td>
        <td><%= clip.source_url %></td>
        <td><%= clip.fetch_response %></td>
        <td><%= clip.fetch_date %></td>
        <td><%= link_to 'Show', clip %></td>
        <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
        <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clip', new_clip_path %>
