<div class="page-header">
  <%= link_to new_clip_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Clip
  <% end %>
  <h1>Listing clips</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Quote</th>
            <th>Commentary</th>
            <th>Link</th>
            <th>Link date</th>
            <th>Pub date</th>
            <th>Source name</th>
            <th>Source url</th>
            <th>Fetch response</th>
            <th>Fetch date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clips) do |clip| %>
            <td><%= clip.title %></td>
            <td><%= clip.description %></td>
            <td><%= clip.quote %></td>
            <td><%= clip.commentary %></td>
            <td><%= clip.link %></td>
            <td><%= clip.link_date %></td>
            <td><%= clip.pub_date %></td>
            <td><%= clip.source_name %></td>
            <td><%= clip.source_url %></td>
            <td><%= clip.fetch_response %></td>
            <td><%= clip.fetch_date %></td>
            <td><%= link_to 'Show', clip %></td>
        <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
        <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
