<div class="page-header">
  <%= link_to new_clip_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Clip
  <% end %>
  <h1>Listing clips</h1>
</div>
<div class="cliplist">
<% @clips.each do |clip| %>
	<div class="row">
		<div class="col-sm-9">
			<h3><%= link_to clip.title, clip.link %></h3>
			<div><%= clip.description %></div>
			<div><blockquote><%= clip.quote %></blockquote></div>
		</div>
		<div class="col-sm-3">
          <td><%= link_to 'Show', clip, {class: 'btn btn-default'} %></td>
      <td><%= link_to 'Edit', edit_clip_path(clip),  {class: 'btn btn-info'}  %></td>
      <td><%= link_to 'Destroy', clip, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }  %></td>
			
		</div>
	</div>
<% end %>
</div>