<div class="page-header">
  <%= link_to clips_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_clip_path(@clip), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show clip</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @clip.title %></dd>

  <dt>Description:</dt>
  <dd><%= @clip.description %></dd>

  <dt>Quote:</dt>
  <dd><%= @clip.quote %></dd>

  <dt>Commentary:</dt>
  <dd><%= @clip.commentary %></dd>

  <dt>Link:</dt>
  <dd><%= @clip.link %></dd>

  <dt>Link date:</dt>
  <dd><%= @clip.link_date %></dd>

  <dt>Pub date:</dt>
  <dd><%= @clip.pub_date %></dd>

  <dt>Source name:</dt>
  <dd><%= @clip.source_name %></dd>

  <dt>Source url:</dt>
  <dd><%= @clip.source_url %></dd>

  <dt>Fetch response:</dt>
  <dd><%= @clip.fetch_response %></dd>

  <dt>Fetch date:</dt>
  <dd><%= @clip.fetch_date %></dd>

</dl>
